{% extends "_layouts/default.twig" %}

{% block content %}

    <div class="flex justify-center items-center h-screen ">
        <div class=" bg-white p-4" style="width:600px;">
            <div class="cell text-center">
                <h1>Hello World</h1>
                <a href="{{ site_url }}login">Login</a>
            </div>
        </div>
    </div>

{% endblock %}